<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Um_Autors</title>
    <link rel="stylesheet" href="../static/css/about_autors.css">
</head>
<body>
<h1 align="center" style="color:red">Wir</h1>
<h1 align="center" style="color:white">Das sind die Menschen, die dieses Meisterwerk geschaffen haben</h1>
<a href="https://github.com/Homoak"><h1 align="center" stylr="color:red">$amuR@i</h1></a>
<a href="https://github.com/ANDROEDIK"><h1 align="center" stylr="color:red">@ANDROEDIK</h1></a>
</body>
</html>