<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakte</title>
    <link rel="stylesheet" href="../static/css/contacte.css">
</head>
<body>
<div class="footer-social">
    <a onclick="play()" href="https://discordapp.com/users/1093950203414982787/"><img
            src="../static/images/ds.jpg" alt="Discord"></a>
    <a onclick="play()" href="http://t.me/programistick"><img src="../static/images/tg.png"
                                                              alt="Telegram"></a>
    <a onclick="play()" href="http://wa.me/+380688613865"><img src="../static/images/wh.png"
                                                               alt="WhatsApp"></a>
</div>
</body>
</html>