<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
<header class="site-header">
  <div class="container">
    <div class="logo">MyWebsite</div>
    <nav class="navigation">
      <h1> Hello {{name}} !</h1>
        <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

</body>
</html>