<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haus</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<font face="Arial">
    <header class="site-header">
        <button onclick="play(); setTimeout(function() { location.href='http://127.0.0.1:19019/cabinet'; }, 500);"
                class="image-button" type="button" formtarget="_blank">
        </button>
        <audio id="audio" src="../static/audio/knopka.mp3"></audio>

        <nav class="navigation">
            <div class="text1">
                <a class="li1" style="color:white" onclick="play()" href="http://127.0.0.1:19019/home">Das Haus</a>

                <!-- Ось тут "About" із випадаючим меню -->
                <div class="dropdown">
                    <details onclick="play()" class="details">
                        <summary>Um</summary>
                        <div class="li10">
                            <a class="li2" style="color:white" onclick="play()" href="http://127.0.0.1:19019/about"
                               id="about-link">Um Autors | </a>
                            <a class="li2" style="color:white" onclick="play()" href="http://127.0.0.1:19019/hello"
                               id="about-link">Information | </a>
                            <a class="li2" style="color:white" onclick="play()" href="http://127.0.0.1:19019/news"
                               id="about-link">Zeitung</a>
                        </div>
                    </details>
                </div>

                <a class="li3" style="color:white" onclick="play()" href="http://127.0.0.1:7777/login">Login</a>
                <a class="li3" style="color:white" onclick="play()" href="http://127.0.0.1:7777/register">Register</a>
            </div>
        </nav>
    </header>
    <div class="content-container">
        <h1 style="color:white">Hallo {{name}}</h1>
        <ul class="item-list">
            <div class="color">
            </div>
            <button id="soundButton" class="custom-button" onclick="play(); setTimeout(function() { location.href='http://127.0.0.1:7777/game'; }, 500);"><h2>Spiele!</h2></button>
            <audio id="hoverSound" src="static/knopka.mp3"></audio>
        </ul>
    </div>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6jHty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

<script src="../static/js/home.js"></script>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../static/images/logo.webp" alt="Логотип">
            </div>
            <div class="dropdown">
                <button id="theme-toggle">Змінити тему</button>
            </div>
            <div class="footer-links">
                <div class="text">
                    <a onclick="play()" href="#">Hauptsächlich</a>
                    <a onclick="play()" href="#">Über uns</a>
                    <a onclick="play()" href="#">Kontakte</a>
                    <a onclick="play()" href="http://127.0.0.1:7777/welcome">Datenschutzrichtlinie</a>
                </div>
            </div>
            <div class="footer-social">
                <a onclick="play()" href="https://discordapp.com/users/1093950203414982787/"><img
                        src="../static/images/discord.jpg" alt="Discord"></a>
                <a onclick="play()" href="http://t.me/programistick"><img src="../static/images/telegram.jpg"
                                                                          alt="Telegram"></a>
                <a onclick="play()" href="http://wa.me/+380688613865"><img src="../static/images/watsap.jpg"
                                                                           alt="WhatsApp"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023-2024, Rheinenshatz</p>
        </div>
    </footer>
</font>
</body>
</html>