<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel="stylesheet" , href="../static/css/info.css">
</head>
<body>
<h1 align="center", style="color:white">Information</h1>
<h2 align="center" , style="color:white">$Rheinenshatz$ ist ein erstklassiges deutsches Casino! Filialen dieses Casinos
    befinden sich in Hamburg, München und anderen deutschen Städten. Aber das Wichtigste: „Rhinenshatz“ ist auch meine
    eigene Online-Version. Dieses Casino bietet viele Spiele für jeden Geschmack. Das Startkapital für den Start des
    Spiels beträgt 1000 $. Wir wünschen Ihnen viel Erfolg!

</h2>

<button id="soundButton" class="custom-button"
                    onclick="play(); setTimeout(function() { location.href='http://127.0.0.1:7777/home'; }, 500);">
                <h2>Back</h2></button>
</body>
</html>